<%- include('partials/header') -%>

    <h2>Home</h2>
    <p>Bienvenido a la página de inicio. Logueate para EMPEZAR</p>
    <p>Recuerda que para entrar, primero debes loguearte</p>
    <div style="height: 250px; width: 100%; display: flex; justify-content: center; align-items: center; border: 1px solid black;">
      <div style="color: white; list-style:none; padding: 10px; display: inline-block; font-size: 30px;">
        <a style="padding: 20px; text-decoration:none"  href="/users">Ver los Usuarios</a>
        <a style="padding: 20px; text-decoration:none" href="/posts">Ir a los posts</a>
      </div>
      
    </div>

  
<%- include('partials/footer') -%>